<%- include('./adminLayout/header') %>

    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/admin-assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="index.html"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item active ">
                    <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>

                </li>

                <li class="menu-item ">
                    <a class="menu-link" href="/admin/categorylist"> <i class="icon material-icons md-store"></i>
                        <span class="text">Category</span>
                    </a>

                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/Userlist"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Users</span>
                    </a>

                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/orderlist"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">order</span>
                    </a>

                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/couponList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Coupon</span>
                    </a>
                    
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/offerList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Offers</span>
                    </a>
                    
                </li>

        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                   
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                           
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
       
        <section class="content-main">
            

            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                        
                    </div>
                   
                </div>
                <div class="col-lg-6">
                    
                    <div class="card mb-4">

                        <div class="card-body">
                            <form method="POST" action="/admin/updateProduct?id=<%= product._id %>">
                                
                                <div class="mb-4">
                                    <label for="product_title" class="form-label">product_title</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_title"
                                        name="product_title" value="<%= product.product_title %>">

                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="Description"
                                        id="Description"><%= product.Description %></textarea>
                                </div>

                                <div class="mb-4">
                                    <label for="Stock" class="form-label">Stock</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="stock"
                                        name="Stock" value="<%= product.Stock %>">

                                </div>


                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Regular price</label>
                                            <div class="row gx-2">
                                                <input placeholder="$" type="text" class="form-control"
                                                    id="regularPrice" name="regularPrice"
                                                    value="<%= product.regularPrice %>">

                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Promotional price</label>
                                            <div class="row gx-2">
                                                <input placeholder="$" type="text" class="form-control"
                                                    id="promotionalPrice" name="promotionalPrice"
                                                    value="<%= product.promotionalPrice %>">

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Category</label>
                                    
                                    <select class="form-select" name="category" id="category">
                                        <option value="" disabled selected>Select Category</option>
                                        <% category.forEach(cat=> { %>
                                            <option value="<%= cat._id %>">
                                                <%= cat.name %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </div>
                                
                               
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm rounded">Update Product</button>
                        </form>

                        

                    </div>
                   

                    
                   
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                
                        <div class="card-body">
                            <% product.images.forEach(image => { %>
                                <div class="input-upload">
                                    <img src="/productImages/<%= image.filename %>" alt="">
                                    
                                    
                                </div>
                            <% }); %>
                        </div> 
                    </div>
                </div>
                
            </div>
          
            
            </div>
        </div>
      
            </div>
            
        </section>



        <%- include('./adminLayout/footer') %>