<%- include('./adminLayout/header') %>


    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/productImages/logoimages.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="index.html"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>

                </li>

                <li class="menu-item ">
                    <a class="menu-link" href="/admin/categorylist"> <i class="icon material-icons md-store"></i>
                        <span class="text">Category</span>
                    </a>

                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/Userlist"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Users</span>
                    </a>

                </li>
                <li class="menu-item  active">
                    <a class="menu-link" href="/admin/orderlist"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>

                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/couponList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Coupon</span>
                    </a>

                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/offerList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Offers</span>
                    </a>

                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">

                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>

                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <% if (orderData) { %>
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order detail</h2>
                        <p>Details for Order ID: <%= orderData.orderId %>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <header class="card-header">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                                <span>
                                    <i class="material-icons md-calendar_today"></i> <b>
                                        <%= orderData.orderDate.toLocaleString() %>
                                    </b>
                                </span>
                                <br>
                                <small class="text-muted">Order ID: <%= orderData.orderId %></small>
                            </div>
                            <div class="col-lg-6 col-md-6 ms-auto text-md-end"> 
                                <% if(orderData.orderStatus == "Cancelled" || orderData.orderStatus == "Returned" || orderData.orderStatus == "Delivered") {%>
                                    <button class="btn btn-primary" onclick="back()" >Back</button>
                                   
                                    <%} else {%> 
                                <select id="select" class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                                    
                                    <option>Order Placed</option>
                                    <option>Shipped</option>
                                    <option>Cancelled</option>
                                    <option>Returned</option>
                                    <option>Return Processing</option>
                                    <option>Payment Pending</option>
                                    <option>Delivered</option>
                                </select>   
                                <button class="btn btn-primary" onclick="changestatus('<%=orderData._id%>','<%= orderData.orderStatus%>')" >Save</button>
                                <% } %>
                                
                                <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                            </div>
                            
                        </div>
                    </header>
                    <div class="card-body">
                        <div class="row mb-50 mt-20 order-info-wrap">
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-person"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Customer</h6>
                                        <p class="mb-1">
                                            <%= orderData.userId.name %> <br>
                                                <%= orderData.userId.email %> <br> +91 <%= orderData.userId.mobile %>
                                        </p>
                                        <a href="/Userlist">View profile</a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-local_shipping"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Order info</h6>
                                        <p class="mb-1">
                                            Shipping: Fargo express <br> Pay method: <%= orderData.paymentMethod %> <br>
                                                Status: <%= orderData.orderStatus %>
                                        </p>
                                        <a href="#">Download info</a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-place"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Deliver to</h6>
                                        <p class="mb-1">
                                            City: <%= orderData.address.city %> <br>
                                                <%= orderData.address.street %>, <%= orderData.address.housename %> <br>
                                                        <%= orderData.address.name %>
                                        </p>
                                        <a href="#">View profile</a>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="40%">Product</th>
                                                <th width="20%">Unit Price</th>
                                                <th width="20%">Quantity</th>
                                                <th width="20%" class="text-end">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (let i=0; i < orderData.products.length; i++) { %>
                                                <% let total=orderData.products[i].productId.promotionalPrice *
                                                    orderData.products[i].quantity; %>
                                                    <tr>
                                                        <td>
                                                            <a class="itemside" href="#">
                                                                <div class="left">
                                                                    <img src="/productImages/<%= orderData.products[i].productId.images[0].filename %>"
                                                                        width="40" height="40" class="img-xs"
                                                                        alt="Item">
                                                                </div>
                                                                <div class="info">
                                                                    <%= orderData.products[i].productId.product_title %>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <%= orderData.products[i].productId.promotionalPrice %>
                                                        </td>
                                                        <td>
                                                            <%= orderData.products[i].quantity %>
                                                        </td>
                                                        <td class="text-end">
                                                            <%= total %>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <tr>
                                                            <td colspan="4">
                                                                <article class="float-end">
                                                                    <dl class="dlist">
                                                                        <dt>Subtotal:</dt>
                                                                        <dd>
                                                                            <%= orderData.totalAmount %>
                                                                        </dd>
                                                                    </dl>
                                                                    <dl class="dlist">
                                                                        <dt>Shipping cost:</dt>
                                                                        <dd>Free shipping</dd>
                                                                    </dl>
                                                                    <dl class="dlist">
                                                                        <dt>Grand total:</dt>
                                                                        <dd><b class="h5">
                                                                                <%= orderData.totalAmount %>
                                                                            </b></dd>
                                                                    </dl>
                                                                    <dl class="dlist">
                                                                        <dt class="text-muted">Status:</dt>
                                                                        <dd>
                                                                            <span
                                                                                class="badge rounded-pill alert-success text-success">
                                                                                <%= orderData.paymentStatus %>
                                                                            </span>
                                                                        </dd>
                                                                    </dl>
                                                                </article>
                                                            </td>
                                                        </tr>
                                        </tbody>
                                    </table>
                                    
                                    <br>
                                </div>
                                <a class="btn btn-primary" href="/admin/orderlist">View order list</a>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <div class="box shadow-sm bg-light">
                                    <h6 class="mb-15">Payment info</h6>
                                    <p>
                                        <%= orderData.paymentMethod %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <script>

    function changestatus(orderID, currentStatus) {
        const selectedStatus = document.getElementById('select').value;
        if (selectedStatus !== currentStatus) {
            Swal.fire({
                
                title: 'Are you sure?',
                text: 'Are you sure you want to change the status!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, change it!',
                cancelButtonText: 'No, cancel!',
            }).then((result) => {
                if (result.isConfirmed) {
                    
                    fetch('/admin/orderdetailchange', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            orderID,
                            statusID: selectedStatus
                        })
                    })
                  
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            Swal.fire({
                                title: 'Status Changed!',
                                text: 'The status has been successfully changed.',
                                icon: 'success'
                            }).then(() => {
                                
                                window.location.reload();
                            });
                        } else {
                            Swal.fire({
                                title: 'Error',
                                text: 'Failed to change the status.',
                                icon: 'error'
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        Swal.fire({
                            title: 'Error',
                            text: 'An unexpected error occurred.',
                            icon: 'error'
                        });
                    });
                }
            });
        } else {
            
            Swal.fire({
                title: 'Info',
                text: 'The status is already set to ' + currentStatus + '. No changes made.',
                icon: 'info'
            });
        }
    }

    function back(){
        window.location.href = 'orderlist'
    }

</script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <%- include('./adminLayout/footer') %>