<%- include('./adminLayout/header') %>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/admin-assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminpanel"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>

                <li class="menu-item ">
                    <a class="menu-link" href="/admin/categorylist"> <i class="icon material-icons md-store"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/Userlist"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">User</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/orderlist"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Order</span>
                    </a>
                   
                </li> 
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/couponList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Coupon</span>
                    </a>
                    
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/offerList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Offers</span>
                    </a>
                    
                </li>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover" id="myTable">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <div class="form-check">

                                                </div>
                                            </th>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>E-mail</th>
                                            <th>Phone</th>
                                            <th>Status</th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for( let i=0; i < userdata.length; i++ ) { %>
                                            <tr>
                                                <td class="text-center">

                                                </td>
                                                <td>
                                                    <%= i+1 %>
                                                </td>
                                                <td>
                                                    <%= userdata[i].name %>
                                                </td>
                                                <td><b>
                                                        <%= userdata[i].email%>
                                                    </b></td>
                                                <td>
                                                    <%= userdata[i].mobile %>
                                                </td>
                                                <td>
                                                    <% if (userdata[i].is_blocked==false) { %>
                                                        <span class="text-success" id="status<%= i %>">Unblocked</span>
                                                        <% } else { %>
                                                            <span class="text-danger" id="status<%= i %>">Blocked</span>
                                                            <% } %>
                                                </td>


                                                <% if (userdata[i].is_blocked==false) { %>
                                                    <td class="text-center" id="blockId<%= i %>">
                                                        <button class="btn btn-primary" id="color<%= i %>"
                                                            onclick="userBlock('<%= userdata[i]._id %>','<%= i %>')">Block</button>
                                                    </td>
                                                  
                                                        <% } else { %>
                                                            <td class="text-center" id="blockId<%= i %>" >
                                                            <button class="btn btn-danger" id="color<%= i %>"
                                                                onclick="userBlock('<%= userdata[i]._id %>','<%= i %>')">Unblock</button>
                                                    </td>
                                                    <% } %>

                                            </tr>
                                            <% } %>
                                    </tbody>

                                </table>
                            </div>
                        </div> 
                    </div> 
                    
                    
                </div> 
            </div> 
            


        <script>
            function userBlock(userId, index,) {
                const statuschange= document.getElementById(`blockId` + index).textContent.trim();
                const Action=statuschange=="Unblock"?'userUnblock':'userBlock';
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: `Yes, ${Action} it!`
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch(`/admin/${Action}/${userId}`, {
                            method: 'PATCH',
                            headers: { "Content-Type": "application/json" }
                        })
                            .then(response => { return response.json() })
                            .then(data => {

                                if (data.success) {
                                    if (data.block) {
                                        const status = document.getElementById(`status` + index)
                                        const color=document.getElementById('color'+index)
                                        color.classList.remove('btn-primary')
                                        color.classList.add('btn-danger')
                                        color.textContent = "Unblock"
                                        status.classList.remove('text-success')
                                        status.classList.add('text-danger')
                                        status.textContent = "Blocked";
                                        Swal.fire({
                                            title: "Unblocked!",
                                            text: "User has been Unblocked.",
                                            icon: "success"
                                        });
                                    } else if (data.block == false) {
                                        const status = document.getElementById(`status` + index)
                                        const color = document.getElementById(`color` + index)
                                        color.classList.remove('btn-danger')
                                        color.classList.add('btn-primary')
                                        color.textContent = "Block"
                                        status.classList.remove('text-danger')
                                        status.classList.add('text-success')
                                        status.textContent = "Unblocked";
                                        Swal.fire({
                                            title: "Unblocked!",
                                            text: "User has been Unblocked.",
                                            icon: "success"
                                        });
                                    } else {
                                        Swal.fire({
                                            title: "Error!",
                                            text: "Failed to block user.",
                                            icon: "error"
                                        });
                                    }
                                }
                            })
                            .catch(error => {
                                Swal.fire({
                                    title: "Error!",
                                    text: error.message,
                                    icon: "error"
                                });
                            });
                    }
                });
            }

            function userUnblock(userId, index) {
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, Unblock it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch(`/admin/userUnblock/${userId}`, {
                            method: 'PATCH',
                            headers: { "Content-Type": "application/json" }
                        })
                            .then(response => {
                                if (response.ok) {
                                    return response.json(); // Parse response body as JSON
                                } else {
                                    throw new Error('Failed to Unblock user');
                                }
                            })
                            .then(data => {
                               
                                if (data.success) {
                                   
                                    if (data.block == false) {
                                        const status = document.getElementById(`status` + index)
                                        const blockId = document.getElementById(`blockId` + index)
                                        blockId.classList.remove('btn-success')
                                        blockId.classList.add('btn-danger')
                                        blockId.textContent = "Block"
                                        status.classList.remove('text-danger')
                                        status.classList.add('text-success')
                                        status.textContent = "Unblocked";
                                        Swal.fire({
                                            title: "Unblocked!",
                                            text: "User has been Unblocked.",
                                            icon: "success",
                                            showConfirmButton: false
                                        });
                                    }
                                } else {
                                    
                                    Swal.fire({
                                        title: "Error!",
                                        text: "Failed to Unblock user.",
                                        icon: "error"
                                    });
                                }
                            })
                            .catch(error => {
                                
                                Swal.fire({
                                    title: "Error!",
                                    text: error.message,
                                    icon: "error"
                                });
                            });
                    }
                });
            }
        </script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="//cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    
        <script>
        let table = new DataTable('#myTable');
        </script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <%- include('./adminLayout/footer') %>