<%- include('./userLayout/header') %>
    <!-- Quick view -->
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row" id="imageDetails">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <% productData.forEach(element=> { %>
                                        <figure class="border-radius-10">
                                            <img src="/productImages/<%= element.images.filename %>"
                                                alt="product image">
                                        </figure>
                                        <% }) %>

                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails pl-15 pr-15">
                                    <% productData.forEach(element=> { %>
                                        <div><img src="/productImages/<%= element.images.filename %>"
                                                alt="product image"></div>
                                        <% }) %>
                                </div>
                            </div>
                            <!-- End Gallery -->
                            <div class="social-icons single-share">
                                <ul class="text-grey-5 d-inline-block">
                                    <li><strong class="mr-10">Share this:</strong></li>
                                    <li class="social-facebook"><a href="#"><img
                                                src="/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                    <li class="social-twitter"> <a href="#"><img
                                                src="/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                    <li class="social-instagram"><a href="#"><img
                                                src="/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                    <li class="social-linkedin"><a href="#"><img
                                                src="/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <% if (user) { %>
                                    <li><a href="/userDetail"><%=user.name%></a></li>

                                    <li><a href="/userLogout">Logout</a></li>

                                    <% }else{%>
                                        <li><i class="fi-rs-user"></i><a href="/login">Log In</a></li>
                                  <%  } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="/productImages/logoimages.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#">
                               
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="Evara"
                                            src="/assets/imgs/theme/icons/icon-heart.svg">
                                        
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg">
                                        
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="/productImages/logoimages.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                       
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="index.html">Home </i></a>
                                        
                                    </li>
                                    <li>
                                        <a href="/about">About</a>
                                    </li>
                                    <li><a href="/shop">Shop </a>
                                    </li>
                                    
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-heart.svg">
                                  
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="shop-cart.html">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg">
                                    
                                </a>
                                
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="/productImages/logoimages.png" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">

                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/">Home</a>
                               
                            </li>
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="/shop">shop</a>
                                
                            </li>
                            <li>
                                <a href="shop">Contact</a>
                            </li>
                            
                            
                            
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    
                    <div class="single-mobile-header-info">
                        <a href="/login">Log In </a>/<a href="/register">sign up</a>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    <main class="main">
        <section class="home-slider position-relative pt-50">
            <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="row align-items-center slider-animated-1">
                            <div class="col-lg-5 col-md-6">
                                <div class="hero-slider-content-2">
                                    <h4 class="animated">Trade-in offer</h4>
                                    <h2 class="animated fw-900">Supper value deals</h2>
                                    <h1 class="animated fw-900 text-brand">On all products</h1>
                                    <p class="animated">Save more with coupons & up to 70% off</p>
                                    <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html"> Shop
                                        Now </a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <div class="single-slider-img single-slider-img-1">
                                    <img class="animated slider-1-1" src="/assets/imgs/slider/gucci.webp" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
           
        </section>
        <section class="product-tabs section-padding position-relative wow fadeIn animated">
            <div class="bg-square"></div>
            <div class="container">
                <div class="tab-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab"
                                data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one"
                                aria-selected="true">Featured</button>
                        </li>
                    </ul>
                </div>
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">
                            <% for( let i=0;i < productData.length;i++ ) { %>
                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/productDetail?id=<%= productData[i]._id%>">
                                                    <img class="default-img"
                                                        src="/productImages/<%=  productData[i].images[0].filename %>"
                                                        alt="">
                                                    <img class="hover-img"
                                                        src="/productImages/<%=  productData[i].images[0].filename %>"
                                                        alt="">
                                                </a>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="product-content-wrap">
                                           
                                            <h2><a href="shop-product-right.html">
                                                    <%= productData[i].product_title %>
                                                </a></h2>
                                            
                                            <div class="product-price">
                                                <span>&#8377;<%=productData[i].offerPrice>0 ?productData[i].offerPrice : productData[i].promotionalPrice %> </span>
                                                
                                                <span class="old-price">&#8377;<%= productData[i].regularPrice %></span>
                                               
                                            </div>
                                           
                                           
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                        <div class="pagination-area mt-15 mb-5">
                            <nav aria-label="page navigation example">
                                <ul class="pagination justify-content-start">
                                    <% for(let i=1;i<=numofPage;i++){ %>
                                        <li class="page-item <% if(i===currentPage){%>active<%} %>">
                                            <a class="page-link" href="/?page=<%=i %>"><%=i %></a>
                                            </li>
                                        <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    
                </div>
                
            </div>
           
        </section>
    </main>


    <script>

        const isAuthenticated = true;
        const loginSignUp = document.getElementById('loginSignUp');
        const logoutBtn = document.getElementById('logoutBtn');

        if (isAuthenticated) {
            loginSignUp.style.display = 'none';
            logoutBtn.style.display = 'block';
        } else {
            loginSignUp.style.display = 'block';
            logoutBtn.style.display = 'none';
        }

    </script>

    <%- include('./userLayout/footer') %>