<%- include('./userLayout/header') %>
    <header class="header-area header-style-5">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">



                </div>
            </div>
        </div>
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div
                        class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>
                                <li><a class="active" href="/">Home</a>

                                </li>
                                <li><a href="/shop">Shop</a>

                                </li>
                                <li>
                                    <a href="page-contact.html">About</a>
                                </li>


                                <li>
                                    <a href="page-contact.html">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-action-right">
                        <div class="search-style-2">

                        </div>
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">

                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">

                                </a>

                            </div>
                            <div class="header-action-icon d-block d-lg-none">
                                <div class="burger-icon">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                </div>
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="index.html">Home</a>

                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="shop-grid-right.html">shop</a>

                        </li>



                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap mobile-header-border">
                <div class="single-mobile-header-info mt-30">
                    <a href="page-contact.html"> Our location </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="page-login-register.html">Log In / Sign Up </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="#">(+01) - 2345 - 6789 </a>
                </div>
            </div>
            <div class="mobile-social-icon">
                <h5 class="mb-15 text-grey-4">Follow Us</h5>
                <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
            </div>
        </div>
    </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                                                href="#dashboard" role="tab" aria-controls="dashboard"
                                                aria-selected="false"><i
                                                    class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                                href="#account-detail" role="tab" aria-controls="account-detail"
                                                aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address"
                                                role="tab" aria-controls="address" aria-selected="true"><i
                                                    class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="wallet-tab" data-bs-toggle="tab" href="#wallet"
                                                role="tab" aria-controls="wallet" aria-selected="false"><i
                                                    class="fi-rs-shopping-bag mr-10"></i>Wallet</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders"
                                                role="tab" aria-controls="orders" aria-selected="false"><i
                                                    class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <!-- <li class="nav-item">
                                            <a class="nav-link" href="page-login-register.html"><i
                                                    class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <% if (user) { %>
                                        <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                                            aria-labelledby="dashboard-tab">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Hello <%= user.name %>
                                                    </h5>
                                                </div>
                                                <div class="card-body">
                                                    <p>From your account dashboard, you can easily check & view your <a
                                                            href="#">recent orders</a>, manage your <a href="#">shipping
                                                            and billing addresses</a>, and <a href="#">edit your
                                                            password and account details</a>.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <article class="box m-3 bg-light d-flex">
                                              <h5>Referral Code </h5> : <h5>
                                                <%=user.referralCode%>
                                              </h5>
                                            </article>
                                         
                                          </div> 
                                        <% } %>

                                            <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                                aria-labelledby="account-detail-tab">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Account Details</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <p>Already have an account? <a href="/login">Log in instead!</a>
                                                        </p>

                                                        <form method="post" action="/userDetail" id="userForm">
                                                            <% if(user){ %>
                                                                <div class="row">

                                                                    <div class="form-group col-md-12">
                                                                        <label>Full Name <span
                                                                                class="required">*</span></label>
                                                                        <input type="text" class="form-control square"
                                                                            name="fullName" id="fullName"
                                                                            value="<%= user.name %>">
                                                                        <span class="text-danger"
                                                                            id="fullNameError"></span>
                                                                    </div>

                                                                    <div class="form-group col-md-12">
                                                                        <label>Email Address <span
                                                                                class="required">*</span></label>
                                                                        <input class="form-control square" name="email"
                                                                            type="email" id="email"
                                                                            value="<%= user.email %>">
                                                                        <span class="text-danger"
                                                                            id="emailError"></span>
                                                                    </div>

                                                                    <div class="form-group col-md-12">
                                                                        <label>Phone Number<span
                                                                                class="required">*</span></label>
                                                                        <input class="form-control square"
                                                                            name="phoneNumber" type="text"
                                                                            id="phoneNumber" value="<%=user.mobile %>">
                                                                        <span class="text-danger"
                                                                            id="phoneNumberError"></span>
                                                                    </div>

                                                                    <div class="form-group col-md-12">
                                                                        <label>Current Password <span
                                                                                class="required">*</span></label>
                                                                        <input class="form-control square"
                                                                            name="password" type="password"
                                                                            id="password">
                                                                        <span class="text-danger"
                                                                            id="passwordError"></span>
                                                                    </div>


                                                                    <div class="form-group col-md-12">
                                                                        <label>New Password <span
                                                                                class="required">*</span></label>
                                                                        <input class="form-control square"
                                                                            name="npassword" type="password"
                                                                            id="npassword">
                                                                        <span class="text-danger"
                                                                            id="npasswordError"></span>
                                                                    </div>

                                                                    <div class="form-group col-md-12">
                                                                        <label>Confirm Password <span
                                                                                class="required">*</span></label>
                                                                        <input class="form-control square"
                                                                            name="cpassword" type="password"
                                                                            id="cpassword">
                                                                        <span class="text-danger"
                                                                            id="cpasswordError"></span>
                                                                    </div>

                                                                    <div class="col-md-12">
                                                                        <button type="submit"
                                                                            class="btn btn-fill-out submit"
                                                                            name="submit" id="editButton">edit</button>
                                                                        <button type="submit"
                                                                            class="btn btn-fill-out submit"
                                                                            name="submit" id="saveButton">Save</button>

                                                                    </div>
                                                                </div>
                                                                <% } %>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane fade" id="address" role="tabpanel"
                                                aria-labelledby="address-tab">

                                                <a href="#" class="btn btn-primary btn-sm rounded" id="addAddressBtn"
                                                    onclick="confirmAddAddress()">
                                                    Add New Address
                                                </a>

                                                <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog"
                                                    aria-labelledby="addAddressModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="addAddressModalLabel">Add
                                                                    New Address</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">

                                                                <form id="addressForms" method="post"
                                                                    action="/userDetail">
                                                                    <div class="form-group">
                                                                        <label for="addressType">Address Type</label>
                                                                        <style>
                                                                            .small-radio input[type="radio"] {
                                                                                transform: scale(0.6);
                                                                                margin-right: 5px;
                                                                            }
                                                                        </style>
                                                                        <div>
                                                                            <label class="small-radio"><input
                                                                                    type="radio" name="addressType"
                                                                                    value="home" checked> Home</label>
                                                                            <label class="small-radio"><input
                                                                                    type="radio" name="addressType"
                                                                                    value="office"> Office</label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="name">Name</label>
                                                                        <input type="text" class="form-control"
                                                                            id="name">
                                                                        <span class="text-danger" id="nameError"></span>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="housename">House Name</label>
                                                                        <input type="text" class="form-control"
                                                                            id="housename">
                                                                        <span class="text-danger"
                                                                            id="housenameError"></span>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="street">Street</label>
                                                                        <input type="text" class="form-control"
                                                                            id="street">
                                                                        <span class="text-danger"
                                                                            id="streetError"></span>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="city">City</label>
                                                                        <input type="text" class="form-control"
                                                                            id="city">
                                                                        <span class="text-danger" id="cityError"></span>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="district">District</label>
                                                                        <input type="text" class="form-control"
                                                                            id="district">
                                                                        <span class="text-danger"
                                                                            id="districtError"></span>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="state">State</label>
                                                                        <input type="text" class="form-control"
                                                                            id="state">
                                                                        <span class="text-danger"
                                                                            id="stateError"></span>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="pincode">Pincode</label>
                                                                        <input type="text" class="form-control"
                                                                            id="pincode">
                                                                        <span class="text-danger"
                                                                            id="pincodeError"></span>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="phonenumber">Phone Number</label>
                                                                        <input type="text" class="form-control"
                                                                            id="phonenumber">
                                                                        <span class="text-danger"
                                                                            id="phonenumberError"></span>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="altPhone">Alternate Phone</label>
                                                                        <input type="text" class="form-control"
                                                                            id="altPhone">
                                                                        <span class="text-danger"
                                                                            id="altPhoneError"></span>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">

                                                                <button type="submit" class="btn btn-primary"
                                                                    onclick="confirmSaveAddress()">Save Address</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <% if(locals.addresses) { %>
                                                        <% for(let i=0; i < addresses.length; i++) { %>

                                                            <div class="col-lg-6">
                                                                <div class="card mb-3 mb-lg-0">
                                                                    <div class="card-header">
                                                                        <h5 class="mb-0">
                                                                            My address
                                                                        </h5>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <address>
                                                                            <%= addresses[i].name %>,<br>
                                                                                <%= addresses[i].housename %>,<br>
                                                                                    <%= addresses[i].street %>,<br>
                                                                                        <%= addresses[i].city %>, <%=
                                                                                                addresses[i].district %>
                                                                                                ,<br>
                                                                                                <%= addresses[i].state
                                                                                                    %>, <%=
                                                                                                        addresses[i].pincode
                                                                                                        %>
                                                                                                        <br>
                                                                        </address>
                                                                        <p>Phone Number: <%= addresses[i].phonenumber %>
                                                                        </p>
                                                                        <p>Alternate Phone: <%= addresses[i].altPhone %>
                                                                        </p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% } %>
                                                                <% } %>
                                                </div>


                                                <div class="modal fade" id="editAddressModal" tabindex="-1"
                                                    role="dialog" aria-labelledby="editAddressModalLabel"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editAddressModalLabel">Edit
                                                                    Address</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form id="editAddressForm">
                                                                    <div class="modal-body">
                                                                        <div>
                                                                            <label class="small-radio"><input
                                                                                    type="radio" name="addressType"
                                                                                    value="home" checked> Home</label>
                                                                            <label class="small-radio"><input
                                                                                    type="radio" name="addressType"
                                                                                    value="office"> Office</label>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="name">Name</label>
                                                                            <input type="text" class="form-control"
                                                                                id="name">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="housename">House Name</label>
                                                                            <input type="text" class="form-control"
                                                                                id="housename">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="street">Street</label>
                                                                            <input type="text" class="form-control"
                                                                                id="street">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="city">City</label>
                                                                            <input type="text" class="form-control"
                                                                                id="city">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="district">District</label>
                                                                            <input type="text" class="form-control"
                                                                                id="district">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="state">State</label>
                                                                            <input type="text" class="form-control"
                                                                                id="state">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="pincode">Pincode</label>
                                                                            <input type="text" class="form-control"
                                                                                id="pincode">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="phonenumber">Phone
                                                                                Number</label>
                                                                            <input type="text" class="form-control"
                                                                                id="phonenumber">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="altPhone">Alternate
                                                                                Phone</label>
                                                                            <input type="text" class="form-control"
                                                                                id="altPhone">

                                                                        </div>
                                                                    </div>
                                                                    <input type="hidden" id="editAddressId">
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary"
                                                                    onclick="saveEditedAddress()">Save changes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="wallet" role="tabpanel"
                                                aria-labelledby="wallet-tab">
                                                <div class="col-md-8 col-lg-10">
                                                    <div
                                                        class="tab-content d-flex justify-content-center align-items-center">



                                                        <div class="card" style="width: 100vw;">
                                                            <div
                                                                class="card-body d-flex flex-column align-items-center justify-content-center">
                                                                <i class="fa-solid fa-wallet"
                                                                    style="font-size: 50px;"></i>


                                                                <h3>Wallet Balance</h3>
                                                                <p style="font-size: 30px;">₹&nbsp;<%= wallet ?
                                                                        wallet.walletBalance : 0 %>
                                                                </p>

                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="mt-5">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Transaction Type</th>
                                                                    <th scope="col">Date</th>
                                                                    <th scope="col">Amount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% if (wallet && wallet.transaction && wallet.transaction.length) { %>
                                                                    <% for (let i = 0; i < wallet.transaction.length; i++) { %>
                                                                        <tr>
                                                                            <td>
                                                                                <span class="badge badge-pill bg-success">
                                                                                    <%= wallet.transaction[i].type %>
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                <%= wallet.transaction[i].date.toLocaleString() %>
                                                                            </td>
                                                                            <td>
                                                                                <span class="">
                                                                                    <%= wallet.transaction[i].amount %>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                    <% } %>
                                                                <% } else { %>
                                                                    <tr>
                                                                        <td colspan="3">No transactions available.</td>
                                                                    </tr>
                                                                <% } %>
                                                            </tbody>
                                                            
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="tab-pane fade" id="orders" role="tabpanel"
                                                aria-labelledby="orders-tab">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Your Orders</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Order</th>
                                                                        <th>Date</th>
                                                                        <th>Total</th>
                                                                        <th>Order status</th>
                                                                        <th>Items</th>
                                                                        <th>Status</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% for( let i=0; i < order.length; i++ ) { %>
                                                                        <% let items=order[i].products.reduce((acc,
                                                                            product)=> acc + product.quantity, 0) %>


                                                                            <tr>
                                                                                <td>
                                                                                    <%=order[i].orderId %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= order[i].orderDate.toLocaleString()
                                                                                        %>
                                                                                </td>

                                                                                <td>
                                                                                    <%= order[i].totalAmount%>
                                                                                </td>
                                                                                <td>
                                                                                    <%= order[i].orderStatus%>
                                                                                </td>
                                                                                <td>
                                                                                    <%=items%>
                                                                                </td>


                                                                                <td>
                                                                                    <a href="/orderdetail?orderId=<%=order[i]._id%>"
                                                                                        class="btn-small d-block">View</a>
                                                                                </td>

                                                                            </tr>
                                                                            <% } %>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>





                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>
    <script>

        var userForm = document.getElementById("userForm");
        var fullName = document.getElementById("fullName");
        var email = document.getElementById("email");
        var phoneNumberInput = document.getElementById("phoneNumber");
        // var password = document.getElementById("password");
        var npassword = document.getElementById("npassword");
        var cpassword = document.getElementById("cpassword");

        var fullNameError = document.getElementById("fullNameError");
        var emailError = document.getElementById("emailError");
        var phoneNumberError = document.getElementById("phoneNumberError");
        // var passwordError = document.getElementById("passwordError");
        var npasswordError = document.getElementById("npasswordError");
        var cpasswordError = document.getElementById("cpasswordError");

        var email_check = /^([A-Za-z0-9_\-\.])+@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,})$/;
        var phNu_check = /^\d{10}$/;

        userForm.addEventListener('submit', (e) => {
            if (fullName.value.trim() === '') {
                e.preventDefault();
                fullNameError.innerHTML = "Full name is required";
            } else {
                fullNameError.innerHTML = "";
            }

            if (!email.value.match(email_check)) {
                e.preventDefault();
                emailError.innerHTML = "Valid email is required";
            } else {
                emailError.innerHTML = "";
            }

            var phoneNumber = phoneNumberInput.value.trim();
            if (phoneNumber === '0000000000') {
                e.preventDefault();
                phoneNumberError.innerHTML = "Please enter a valid phone number other than all zeros";
            } else if (!phoneNumber.match(phNu_check)) {
                e.preventDefault();
                phoneNumberError.innerHTML = "Please enter a valid 10-digit phone number";
            } else {
                phoneNumberError.innerHTML = "";
            }


            // if (password.value.trim() === '') {
            //     e.preventDefault();
            //     passwordError.innerHTML = "Current password is required";
            // } else {
            //     passwordError.innerHTML = "";
            // }


            if (npassword.value.trim() === '') {
                e.preventDefault();
                npasswordError.innerHTML = "if you want to change the password enter new password";
            } else if (cpassword.value.trim() === '') {
                e.preventDefault();
                cpasswordError.innerHTML = "Please confirm your password";
            } else if (cpassword.value !== npassword.value) {
                e.preventDefault();
                cpasswordError.innerHTML = "Passwords do not match";
            } else {
                npasswordError.innerHTML = "";
                cpasswordError.innerHTML = "";
            }
        });


        document.getElementById("saveButton").addEventListener("click", function (event) {
            event.preventDefault();
            window.location.href = "/userDetail";

        });

    </script>


    <script>
        var addressForm = document.getElementById("addressForms");
        var name = document.getElementById("name");
        var housename = document.getElementById("housename");
        var street = document.getElementById("street");
        var city = document.getElementById("city");
        var district = document.getElementById("district");
        var state = document.getElementById("state");
        var pincode = document.getElementById("pincode");
        var phonenumber = document.getElementById("phonenumber");
        var altPhone = document.getElementById("altPhone");

        var housenameError = document.getElementById("housenameError");
        var streetError = document.getElementById("streetError");
        var cityError = document.getElementById("cityError");
        var districtError = document.getElementById("districtError");
        var stateError = document.getElementById("stateError");
        var pincodeError = document.getElementById("pincodeError");
        var phonenumberError = document.getElementById("phonenumberError");
        var altPhoneError = document.getElementById("altPhoneError");
        var nameError = document.getElementById("nameError");


        var phNu_check = /^\d{10}$/;

        addressForm.addEventListener('submit', (e) => {
            if (name.value.trim() === '') {
                e.preventDefault();
                nameError.innerHTML = "Name is required";
            } else {
                nameError.innerHTML = "";
            }

            if (housename.value.trim() === '') {
                e.preventDefault();
                housenameError.innerHTML = "housename is required";
            } else {
                housenameError.innerHTML = "";
            }

            if (street.value.trim() === '') {
                e.preventDefault();
                streetError.innerHTML = "street is required";
            } else {
                streetError.innerHTML = "";
            }

            if (city.value.trim() === '') {
                e.preventDefault();
                cityError.innerHTML = "city is required";
            } else {
                cityError.innerHTML = "";
            }

            if (district.value.trim() === '') {
                e.preventDefault();
                districtError.innerHTML = "district is required";
            } else {
                districtError.innerHTML = "";
            }

            if (state.value.trim() === '') {
                e.preventDefault();
                stateError.innerHTML = "state is required";
            } else {
                stateError.innerHTML = "";
            }

            if (pincode.value.trim() === '') {
                e.preventDefault();
                pincodeError.innerHTML = "pincode is required";
            } else {
                pincodeError.innerHTML = "";
            }

            var phonenumber = phonenumberInput.value.trim();
            if (phonenumber === '0000000000') {
                e.preventDefault();
                phonenumberError.innerHTML = "Please enter a valid phone number other than all zeros";
            } else if (!phonenumber.match(phNu_check)) {
                e.preventDefault();
                phonenumberError.innerHTML = "Please enter a valid 10-digit phone number";
            } else {
                phonenumberError.innerHTML = "";
            }

            var altPhone = altPhoneInput.value.trim();
            if (altPhone === '0000000000') {
                e.preventDefault();
                altPhoneError.innerHTML = "Please enter a valid phone number other than all zeros";
            } else if (!altPhone.match(phNu_check)) {
                e.preventDefault();
                altPhoneError.innerHTML = "Please enter a valid 10-digit phone number";
            } else {
                altPhoneError.innerHTML = "";
            }

        });
    </script>

    <script>
        function confirmAddAddress(addressId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'Do you want to add address?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    openAddAddressModal();
                }
            });
        }

        $(document).ready(function () {
            $("#addressForms").click(function () {
                $("#addressType").val("");
                $("#name").val("");
                $("#housename").val("");
                $("#street").val("");
                $("#city").val("");
                $("#district").val("");
                $("#state").val("");
                $("#pincode").val("");
                $("#phonenumber").val("");
                $("#altPhone").val("");
            });

            $("#saveAddress").click(function () {
                saveAddress();
            });
        });

        function openAddAddressModal() {

            $("#addressType").val("");
            $("#name").val("");
            $("#housename").val("");
            $("#street").val("");
            $("#city").val("");
            $("#district").val("");
            $("#state").val("");
            $("#pincode").val("");
            $("#phonenumber").val("");
            $("#altPhone").val("");


            $('#addAddressModal').modal('show');
        }

        function confirmSaveAddress() {
            Swal.fire({
                title: 'Success',
                text: 'Address has been saved',
                icon: 'success',
            }).then((result) => {
                if (result.isConfirmed) {
                    saveAddress();
                }
            });
        }

        function saveAddress() {
            const addressType = $('input[name="addressType"]:checked').val();
            const name = $('#name').val();
            const housename = $('#housename').val();
            const street = $('#street').val();
            const city = $('#city').val();
            const district = $('#district').val();
            const state = $('#state').val();
            const pincode = $('#pincode').val();
            const phonenumber = $('#phonenumber').val();
            const altPhone = $('#altPhone').val();

            const newAddress = {
                addressType: addressType,
                name: name,
                housename: housename,
                street: street,
                city: city,
                district: district,
                state: state,
                pincode: pincode,
                phonenumber: phonenumber,
                altPhone: altPhone
            };

            $.ajax({
                url: '/saveAddress',
                method: 'POST',
                data: newAddress,
                success: function (response) {
                    window.location.href = '/userDetail';
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });


            $('#addAddressModal').modal('hide');
        }


        function confirmEditAddressModal(addressId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'Do you want to edit this address?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                console.log('result')
                if (result.isConfirmed) {
                    console.log('user say yess to edit the address')
                    openEditAddressModal(addressId);
                }
            });
        }


        function openEditAddressModal(addressId) {

            $.ajax({

                url: `/editaddress/${addressId}`,
                method: 'GET',
                success: function (response) {
                    if (response && response.success) {

                        $('#editAddressType').val(response.addressType);
                        $('#editName').val(response.name);
                        $('#editHousename').val(response.housename);
                        $('#editStreet').val(response.street);
                        $('#editCity').val(response.city);
                        $('#editDistrict').val(response.district);
                        $('#editState').val(response.state);
                        $('#editPincode').val(response.pincode);
                        $('#editPhonenumber').val(response.phonenumber);
                        $('#editAltPhone').val(response.altPhone);


                        $('#editAddressId').val(addressId);


                        $('#editAddressModal').modal('show');
                    } else {

                        console.error('Error retrieving address data:', response.error);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error retrieving address data:', error);
                }
            });
        }




    </script>









    //
    <script>
        //         function saveEditedAddress() {

        //             const editedAddress = {
        //                 addressType: $('#editAddressType').val(),
        //                 name: $('#name').val(),
        //                 housename: $('#housename').val(),
        //                 street: $('#street').val(),
        //                 city: $('#city').val(),
        //                 district: $('#district').val(),
        //                 state: $('#state').val(),
        //                 pincode: $('#pincode').val(),
        //                 phonenumber: $('#phonenumber').val(),
        //                 altPhone: $('#altPhone').val()
        //             };


        //             $.ajax({
        //                 url: '/editAddress',
        //                 method: 'PUT',
        //                 data: editedAddress,
        //                 success: function (response) {

        //                     console.log("Address updated successfully:", response);

        //                     $('#editAddressModal').modal('hide');
        //                 },
        //                 error: function (xhr, status, error) {
        //                     console.error(error);

        //                 }
        //             });
        //         }
        //     </script>




    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <%- include('./userLayout/footer') %>